<div>
  <h1>Workout Plan: {{ workoutType }}</h1>
  <div *ngIf="exercises.length > 0; else noExercises">
    <ul>
      <li *ngFor="let exercise of exercises" class="exercise-item">
        <h3>{{ exercise.exercise }}</h3>
        <img [src]="exercise.image_url" [alt]="exercise.exercise" class="exercise-image" />
      </li>
    </ul>
  </div>
  <ng-template #noExercises>
    <p *ngIf="workoutType">No exercises available for workout type: {{ workoutType }}</p>
    <p *ngIf="!workoutType">Invalid workout type. Please select a valid workout.</p>
  </ng-template>
</div>

<button class="btn btn-primary" [routerLink]="['/dashboard']">Workout History</button>
<br><br>
<button class="btn btn-secondary" [routerLink]="['/dashboard']">Back to Dashboard</button>
