<h3>Welcome to your Workout Dashboard!</h3>
<p>Calendar for your workout plan this week</p>

<div *ngIf="workoutTypes.length > 0" class="jumbotron text-center">
  <h4>Quick Workouts: Pick a type!</h4>
  <div class="btn-group" role="group" aria-label="Workout types">
        <button *ngFor="let workoutType of workoutTypes"
        class="btn btn-primary btn-lg mb-3 mx-2"
        (click)="getExercises(workoutType.typeName)">
    {{ workoutType.typeName  }} 
</button>

  </div>
</div>




<p>Think ahead! Schedule a long-term workout plan!</p>
