<h3>Welcome to your Workout Dashboard!</h3>
<p>Calendar for your workout plan this week</p>

<!-- Display a loading message while data is being fetched -->
<div *ngIf="isLoading" class="text-center">
  <p>Loading workout types...</p>
</div>

<!-- Display buttons once workoutTypes is loaded -->
<div *ngIf="!isLoading && workoutTypes.length > 0" class="jumbotron text-center">
  <h4>Quick Workouts: Pick a type!</h4>
  <div class="btn-group" role="group" aria-label="Workout Type">
    <button *ngFor="let workoutType of workoutTypes"
            class="btn btn-primary btn-lg mb-3 mx-2"
            [routerLink]="['/workout', workoutType]">
      {{ workoutType }}
    </button>
  </div>
</div>

<p>Think ahead! Schedule a long-term workout plan!</p>

<button class="btn btn-secondary" [routerLink]="['/login']">Logout</button>

